@import 'reset';
@import 'mixin';
@import 'common';
*{
  box-sizing: content-box!important;
}
.shopcar{
  margin-top: -1px!important;
}
.header ul{
  margin: -1px;
}
   .sweettab{
    width: 100%;
    height: 841px;
    overflow: hidden;
    background-image: url(../images/bgc.png);
   }
   .sweetman{
     position: relative;
     /* border: 1px solid black; */
     width: 1000px;
     height: 680px;
     margin: 70px auto;
   }
   .sweetman>ul, .sweetwomen>ul{
     position:absolute;
     width: 1000px;
     height: 841px;
   } 
   .sweetman>ul>li{
     float: left; 
     width: 184px;
     height: 276px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     margin: 8px;

   }
   .sweetman>ul>li>a{
       display: block;
      //  background-color: #ccc;
       width: 184px;
       height: 180px;
   }
   .sweetman>ul>li>a>img{
     width: 100%;
     height: 100%;
   }
   .sweetman>ul>li span:last-of-type, .sweetwomen>ul>li span:last-of-type{
     color: #c91212;
   }
   .sweetwoman{
       display: none;
   }
   .sweettab .bottom{
    width: 100%;
    height: 70px;
    position: relative;
  }
  .sweettab .bottom span:first-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sweettab .bottom span:nth-of-type(2){
   // display: flex;
   // justify-content: center;
   position: absolute;
   bottom:10px;
   left: 70px;
   // margin-top: 10px;
 }
   .panel-footer{
     background-color: transparent!important;
    position: absolute;
    bottom: 0;
    width: 1000px;
    height: 80px;
    display: flex;
    // align-items: flex-end;
    justify-content: space-between;
  }
  .pagination>li>a{
    background-color: #fff!important;
    color: grey!important;
    margin:0 10px!important;
  }
  .active{
    border: 1px solid skyblue!important;
    background-color: blue;
  }
.navbox ul{
  margin-bottom:0!important;
  
}
body{
  line-height: auto!important;
}
